*{
	box-sizing: border-box;
}

html,body{
	margin:0;
	padding: 0;
}


.container{
	height: 100px;
	width: 100%
	margin: 0 auto;
	background-color: grey ;
}

.email{
	float: left;
	font-size: 20px;
}

.social a {
	text-decoration: none;
	color: black;
}

.social li{
	font-size: 21px;
	list-style: none;
	float: left;
margin-left:10px;
padding-top: 03px;
padding-right: 30px;
}

.social{
	float:right;
}

#content {
	background-color: #FFFAFA;
}
