{% extends "base_generic.html" %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/log.css' %}" />
{% endblock %}


{% block content %}
<div class='loglist'>
  <a href="{% url 'log_new' %}">Add Log</a>
  {% if log_list %}
  <table border="1">
    <tr>
      <th>Email</th>
      <th width=100px>Date</th>
      <th>Content</th>
      <th>More</th>
    </tr>
        {% for log in log_list %}
    <tr>
      <td>{{ log.email }}</td>
      <td>{{ log.date }}</td>
      <td>{{ log.content }}</td>
      <td><a href="{% url 'log_edit' id=log.id %}">edit&nbsp;<a href="{% url 'delete' log.id %}">delete</td>
    </tr>
  {% endfor %}
    </table>
  {% else %}
    <p>There are no logs.</p>
  {% endif %}
</div>

{% if log_list.has_other_pages %}
  <ul class="pagination">
    {% if log_list.has_previous %}
      <li><a href="?page={{ log_list.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in log_list.paginator.page_range %}
      {% if users.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if log_list.has_next %}
      <li><a href="?page={{ log_list.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

{% endblock %}
